{% extends 'base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/about.css' %}"/>
    <div class="container">
        <h3 class="judul">Soedarhana</h3>

        <p>
            Hey. I'm a Python Developer at RWID.id Company.
            I enjoy working with Python and solve problem back-end experiences.
            You having trouble with your syntax in pyhton language? describe to me i will solve your problem.
        </p>
    </div>
{% endblock content %}