{% extends 'base.html' %}


{% block content %}
<style>
    .container {
        width: 50%;
    }
    h3.judul {
        color: Black;
        text-shadow: 100px;
        height: 50px;
        margin-top: 5%;
    }
</style>

    <div class="container">
        <h3 class="judul">Soedarhana</h3>

        <p>
            Hey. I'm a Python Developer at RWID.id Company.
            I enjoy working with Python and solve problem back-end experiences.
            You having trouble with your syntax in pyhton language? describe to me i will solve your problem.
        </p>
    </div>
{% endblock content %}