{% extends "core/base.html" %}
{% load static %}
{% load blog_md %}
      
{% block content %}
    {% for x in object_list %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'post_detail' x.slug  %}">
                            <h2 class="post-title">{{ x.title }}</h2>
                            <h3 class="post-subtitle">{{x.slug}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="{% url 'about' %}">{{ x.author }} </a>
                            on {{ x.created_on}}
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager if you want limit post
                        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                    -->
                </div>
            </div>
        </div>
    {% endfor %}
{%endblock%}
