{% extends 'base.html' %}
{% load static %}
{% load blog_md %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
          <p class="card-text">{{ object.author }} | {{ object.created_on }}</p>
          <p class="card-text">{{ object.content | convert | safe }}</p>

          <a href="{% url 'home' %}">
            <button type="button" class="btn btn-primary">Back</button>
          </a>
      </div>
      
    </div>
      {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock content %}
