{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Me</h5>
    <div class="card-body">
        <p class="card-text"> This blog is made with Framework 'Django',
            follow up the tutorial to learn how i made it..!</p>

        <a href="https://github.com/soedarhanaINJ/djangoportfolio" target="_blank">
            <button type="button" class="btn btn-primary">Source Code</button>
        </a>
    </div>
</div>
</div>

{% endblock sidebar %}